body {
  padding: 3rem 25%;
  background-color: lightblue;
}

.App {
  text-align: left;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button{
  padding: 1rem;
  background: cadetblue;
  outline: none;
  border: darkcyan;
  margin: 0.5rem;
}